@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 1366px;
  margin: auto;
  padding-top: 30px;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #8388db 100%);
  height: 100%;
  width: 100%;
}

.card {
  max-width: 1024px;
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  border: 4px solid whitesmoke;
}

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  z-index: 1;
}

.search input {
  border: none;
  display: flex;
  width: 100%;
  outline: none;
  background-color: transparent;
  color: #555;
  padding-left: 25px;
  font-size: 18px;
}

.search button {
  display: flex;
  border: 0;
  background: transparent;
  padding-right: 20px;
  padding-left: 10px;
  justify-content: center;
}

.search button img {
  width: 20px;
  cursor: pointer;
}

.suggestionBox {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 5px;
  margin-top: -30px;
  padding-left: 25px;
  font-size: 18px;
  color: grey;
  text-align: left;
  max-height: 150px;
  overflow-y: auto;
  z-index: 0;
  display: flex;
}

.suggestionBox li {
  padding: 3px 0px;
  list-style-type: none;
  cursor: pointer;
}

.weather {
  opacity: 1;
  height: 1px;
  transition: opacity 1s ease-in-out, height 0.3s ease-in-out;
  overflow: hidden;
  /* display: none; */
}

.weather.active {
  opacity: 1;
  height: 580px;
  display: block;
  overflow: visible;
}

.weather img {
  margin: 5px 0px;
}

.weather .condition {
  font-size: 30px;
}

.weather-icon {
  width: 170px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 600;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 30px;
}

.details .col {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.details .col img {
  width: 50px;
  object-fit: cover;
}

.col .humidity,
.wind,
.maxtemp,
.mintemp,
.feels,
.sunrise,
.sunset {
  font-size: 28px;
}

.error {
  display: none;
  align-self: center;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  padding: 5px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 18px;
}

@media screen and (max-width: 738px) {
  body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 15px 0;
  }

  .card {
    margin: 0px 15px;
    padding: 10px;
  }

  .weather.active {
    opacity: 1;
    height: 750px;
    display: block;
    overflow: visible;
  }

  .weather img {
    margin: 5px 0px;
    width: 30%;
  }

  .weather .temp {
    font-size: 50px;
  }

  .weather .city {
    font-size: 30px;
  }

  .search input {
    font-size: 20px;
  }

  .suggestionBox {
    font-size: 20px;
  }

  .subcontainer {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-content: center;
    gap: 30px;
    margin: 0 15px;
  }
  .details {
    flex-direction: column;
    gap: 25px;
    padding: 0px;
    justify-content: start;
  }

  .details .col {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
  }

  .col .colimage {
    width: 35px;
    height: 35px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

  }
  
  .col .colimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .coltext {
    text-align: center;
  }
}
